
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>
      Copyright 2020 - Thiago H. R. Costa - Check my <a href="https://github.com/thiagohrcosta" target="_blank"><i class="fab fa-github"></i>
    </p>
  </div>
</div>
</body>
</html>
